@model IEnumerable<ClotherS.Models.Brand>

@foreach (var item in Model)
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a asp-action="Search" asp-controller="Brands" asp-route-id="@item.BrandId">
					@item.BrandName
				</a>
			</h4>
		</div>
	</div>
}
