<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <h3>Admin Panel</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                            <i class="fas fa-chart-line"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Accounts" asp-action="Index">
                            <i class="fas fa-users"></i> Manage Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Products" asp-action="Index">
                            <i class="fas fa-box"></i> Manage Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Categories" asp-action="Index">
                            <i class="fas fa-list"></i> Manage Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Brands" asp-action="Index">
                            <i class="fas fa-tags"></i> Manage Brands
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Orders" asp-action="Index">
                            <i class="fas fa-shopping-cart"></i> Manage Orders
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
